@model dynamic
@{
    ViewBag.Title = "Confirm your account";
    Layout = "Layout";
}

<h2>Welcome to @Model.AppName!</h2>
<p>Hello,</p>
<p>Thank you for registering. We're excited to have you as a new member of our community.</p>
<p>To start using our platform, we need to confirm your email address.</p>

<div style="text-align: center;">
    <a href="@Model.ConfirmUrl" class="button">Confirm my account</a>
</div>

<div class="info-box">
    <p>Once your account is confirmed, you'll be able to access all @Model.AppName features.</p>
</div>

<p>If you didn't request this account, you can ignore this email.</p>

<div class="signature">
    <p>Best regards,<br>The @Model.AppName Team</p>
</div>